USE [master]
GO
/****** Object:  Database [Trelloclone]    Script Date: 7/22/2024 11:45:06 AM ******/
CREATE DATABASE [Trelloclone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trelloclone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Trelloclone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trelloclone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Trelloclone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trelloclone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trelloclone]
GO
/****** Object:  Table [dbo].[Board]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NULL,
	[IsPublic] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Board] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoardMember]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardMember](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BoardId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BoardMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[Id] [uniqueidentifier] NOT NULL,
	[ListId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ReminderDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardActivity]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardActivity](
	[Id] [uniqueidentifier] NOT NULL,
	[CardId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Activity] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CardActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardLabel]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardLabel](
	[Id] [uniqueidentifier] NOT NULL,
	[CardId] [uniqueidentifier] NOT NULL,
	[LabelId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CardLabel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardMember]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardMember](
	[Id] [uniqueidentifier] NOT NULL,
	[CardId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CardMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [uniqueidentifier] NOT NULL,
	[CardId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[Id] [uniqueidentifier] NOT NULL,
	[BoardId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Color] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Label] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List](
	[Id] [uniqueidentifier] NOT NULL,
	[BoardId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Position] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_List] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [uniqueidentifier] NOT NULL,
	[TodoId] [uniqueidentifier] NOT NULL,
	[AssignedUserId] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[PriorityLevel] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[Status] [varchar](50) NOT NULL,
	[IsChecked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDo]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDo](
	[Id] [uniqueidentifier] NOT NULL,
	[CardId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ToDo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/22/2024 11:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Board] ([Id], [Name], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsPublic], [IsActive]) VALUES (N'56dbd37a-8ada-499f-8fec-01c135be0ede', N'PMS - Trellone', CAST(N'2024-06-21T14:09:33.273' AS DateTime), N'df1e4e23-9547-4340-9a13-2b4a98d63576', NULL, NULL, 1, 0)
INSERT [dbo].[Board] ([Id], [Name], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsPublic], [IsActive]) VALUES (N'c1e58859-6b79-498c-9f50-0d930b1121b3', N'PMS', CAST(N'2024-06-13T09:58:34.407' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-22T03:30:04.470' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 1, 0)
INSERT [dbo].[Board] ([Id], [Name], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsPublic], [IsActive]) VALUES (N'1963eb27-39a1-40a7-84c0-0eab8cd2e198', N'ehe', CAST(N'2024-07-15T15:45:42.690' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, NULL, 1, 0)
GO
INSERT [dbo].[BoardMember] ([Id], [UserId], [BoardId], [RoleId], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'cf1ba7b6-b3c8-4fd0-b7f2-02e57fead07e', N'42ddd23d-9513-4245-9e16-260a74ab9460', N'1963eb27-39a1-40a7-84c0-0eab8cd2e198', N'e58e6c57-ebf4-4cb3-a1de-cfbc3dca7019', CAST(N'2024-07-15T16:41:38.577' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-16T10:13:47.853' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 1)
INSERT [dbo].[BoardMember] ([Id], [UserId], [BoardId], [RoleId], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'd782067b-7069-41a4-b983-031c79fe8eb8', N'9386ed34-308e-432a-bbb3-0cbf266aefb7', N'ff1f7caa-d5f3-445f-ae00-408dd99e6c6c', N'e58e6c57-ebf4-4cb3-a1de-cfbc3dca7019', CAST(N'2024-07-18T07:53:06.800' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[BoardMember] ([Id], [UserId], [BoardId], [RoleId], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'ccf064be-193e-4703-9764-04a34dbc2f41', N'2ba9c4b1-046f-40b9-bccb-40999e17f184', N'64d5c3b6-dacc-4522-ab6a-f2c6681dd8cf', N'e58e6c57-ebf4-4cb3-a1de-cfbc3dca7019', CAST(N'2024-07-04T07:09:46.383' AS DateTime), N'abf499ac-7003-477d-9602-67bf227d16dd', CAST(N'2024-07-04T07:39:40.887' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 1)
GO
INSERT [dbo].[Card] ([Id], [ListId], [Title], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [StartDate], [EndDate], [ReminderDate], [IsActive]) VALUES (N'a9694ffd-0a70-4e1f-920a-00bddcfd463f', N'aef7c6fb-7605-44bc-b237-6eac5c6c574d', N'Create document', N'<p>Create SRS document</p>', CAST(N'2024-07-17T09:58:30.077' AS DateTime), N'c3b3d903-fffc-46d7-b212-11d040892899', CAST(N'2024-07-17T09:59:28.473' AS DateTime), N'c3b3d903-fffc-46d7-b212-11d040892899', NULL, NULL, NULL, 1)
INSERT [dbo].[Card] ([Id], [ListId], [Title], [Description], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [StartDate], [EndDate], [ReminderDate], [IsActive]) VALUES (N'd86c1360-2f22-4371-af27-03d32b367052', N'cd2fcdc2-2228-453c-83a2-fd887609403e', N'go go', NULL, CAST(N'2024-07-04T06:51:17.677' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, N'00000000-0000-0000-0000-000000000000', NULL, NULL, NULL, 1)
GO
INSERT [dbo].[CardMember] ([Id], [CardId], [UserId], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'563204f6-eced-450a-93a9-01bb8dd882e5', N'a9694ffd-0a70-4e1f-920a-00bddcfd463f', N'c3b3d903-fffc-46d7-b212-11d040892899', CAST(N'2024-07-17T09:59:11.127' AS DateTime), N'c3b3d903-fffc-46d7-b212-11d040892899', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[CardMember] ([Id], [CardId], [UserId], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'accc134c-6962-4a76-b64a-023f31c20db1', N'087ab3bb-52aa-46c9-b516-496cc1a2442f', N'9f09d341-88d1-44e3-8a02-e638b821c356', CAST(N'2024-06-25T17:11:06.790' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-06-25T17:11:48.147' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 0)
INSERT [dbo].[CardMember] ([Id], [CardId], [UserId], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'1844d3ec-8b8c-4fbf-89b7-045390ad00ca', N'43e213e0-a889-4cf1-a1d5-73ad3ebd5dc1', N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-19T07:31:07.677' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-19T08:09:51.813' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 0)
GO
INSERT [dbo].[Comment] ([Id], [CardId], [UserId], [Content], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'f3b4ba42-ca0d-4c09-9e0e-2c2f0fa7c9a9', N'43e213e0-a889-4cf1-a1d5-73ad3ebd5dc1', N'b01278ca-0577-4b3d-b9e2-5f08530f9dff', N'<p>i dont know hơ to create srs</p>', CAST(N'2024-07-18T07:13:41.397' AS DateTime), N'b01278ca-0577-4b3d-b9e2-5f08530f9dff', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[Comment] ([Id], [CardId], [UserId], [Content], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'4d5a1dc3-807a-4e44-9c43-3eff1e774d1b', N'9fc5a5e9-6c02-4656-8246-33d9eb08cda9', N'2ba9c4b1-046f-40b9-bccb-40999e17f184', N'<p>sợ alođi về</p>', CAST(N'2024-07-18T03:10:11.163' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-18T03:10:53.577' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 0)
INSERT [dbo].[Comment] ([Id], [CardId], [UserId], [Content], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'6d279aa2-bdee-4ce1-a794-9dd6a545af02', N'43e213e0-a889-4cf1-a1d5-73ad3ebd5dc1', N'b01278ca-0577-4b3d-b9e2-5f08530f9dff', N'<p>hello</p>', CAST(N'2024-07-18T07:14:14.740' AS DateTime), N'b01278ca-0577-4b3d-b9e2-5f08530f9dff', NULL, N'00000000-0000-0000-0000-000000000000', 1)
GO
INSERT [dbo].[List] ([Id], [BoardId], [Name], [Position], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'70f75543-5d43-4d66-b338-006d53a62d2b', N'c1e58859-6b79-498c-9f50-0d930b1121b3', N'Done', 4, CAST(N'2024-06-13T10:20:07.497' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[List] ([Id], [BoardId], [Name], [Position], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'd8a27ba4-ec7f-483a-9c55-018909694a23', N'dd57434c-12b6-45c7-bea3-2bc61afea49f', N'Doing', 3, CAST(N'2024-07-18T03:06:55.500' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-18T03:11:19.647' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 0)
INSERT [dbo].[List] ([Id], [BoardId], [Name], [Position], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'983d2eb6-c2ad-4e4e-84a8-0857cd61245a', N'916ae784-15f6-4d34-99a9-4ec6fbc5aa63', N'odo', 5, CAST(N'2024-06-20T14:42:02.163' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-06-20T14:42:17.153' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 0)
GO
INSERT [dbo].[Role] ([Id], [Name], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'97b6e635-2ef9-4d3b-94cb-379099884d75', N'Admin', CAST(N'2024-06-13T09:57:24.467' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[Role] ([Id], [Name], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'e58e6c57-ebf4-4cb3-a1de-cfbc3dca7019', N'Member', CAST(N'2024-06-13T09:57:33.013' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, N'00000000-0000-0000-0000-000000000000', 1)
GO
INSERT [dbo].[Task] ([Id], [TodoId], [AssignedUserId], [Name], [Description], [PriorityLevel], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [CompletedDate], [DueDate], [Status], [IsChecked], [IsActive]) VALUES (N'd7cea2c8-fb42-4acb-9913-0f34e8aa8398', N'dfd31f43-f07d-43e8-8440-b9a0c1e85e1b', NULL, N'todo2', N'2', N'Medium', CAST(N'2024-07-18T07:31:03.910' AS DateTime), N'617ab86e-238e-4211-854d-f1e7921f7ca4', CAST(N'2024-07-18T07:38:34.257' AS DateTime), N'617ab86e-238e-4211-854d-f1e7921f7ca4', CAST(N'2024-07-18T07:38:34.257' AS DateTime), NULL, N'Resolved', 1, 1)
GO
INSERT [dbo].[ToDo] ([Id], [CardId], [Title], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'8b3567b7-3351-41d4-bdd5-014349034868', N'23e4de46-bc77-4fa3-b218-6918a5b63c73', N'ch1', CAST(N'2024-07-08T04:06:33.610' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[ToDo] ([Id], [CardId], [Title], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'2f7feac2-3136-4fba-a1eb-0fe7296eaf4e', N'2e5863ce-d5d7-40eb-9d98-3e1a69d845e7', N'Things todo', CAST(N'2024-06-28T13:53:30.750' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-06-28T13:54:49.483' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 1)
INSERT [dbo].[ToDo] ([Id], [CardId], [Title], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'd4ec295e-a146-4fd4-87ba-120e58946476', N'9d66072e-d074-4bfb-b2e6-cb5acc1570a1', N'hygt', CAST(N'2024-07-11T10:19:33.160' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', CAST(N'2024-07-11T10:19:46.983' AS DateTime), N'2ba9c4b1-046f-40b9-bccb-40999e17f184', 0)
GO
INSERT [dbo].[User] ([Id], [Email], [Password], [Name], [Gender], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'9386ed34-308e-432a-bbb3-0cbf266aefb7', N'tam21@gmail.com', N'tK07UqmoaJIsGVaUOmYrBw==:IOSXXIqda9CEVoMWnW8qZVs2+uKbaoX7uXn/YaS8VKc=', N'tam', NULL, CAST(N'2024-06-17T02:11:32.667' AS DateTime), N'9386ed34-308e-432a-bbb3-0cbf266aefb7', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[User] ([Id], [Email], [Password], [Name], [Gender], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'c3b3d903-fffc-46d7-b212-11d040892899', N'khuatloi@gmail.com', N'a2uxIqfYdarvntSbialXEA==:wKO3gBw6qPquiSrfWli75qjIKJ+mLzaIDibFPVnHgHo=', N'Khuat loi', NULL, CAST(N'2024-07-17T09:51:29.547' AS DateTime), N'c3b3d903-fffc-46d7-b212-11d040892899', NULL, N'00000000-0000-0000-0000-000000000000', 1)
INSERT [dbo].[User] ([Id], [Email], [Password], [Name], [Gender], [CreatedDate], [CreatedUser], [UpdatedDate], [UpdatedUser], [IsActive]) VALUES (N'6ab597c9-f578-44c5-b539-1fc969bc9d37', N'tam4@gmail.com', N'cZ7CqNKcipuINQo1P17vrQ==:qtMPAqwm4xa0+j1t+mkXkVAXgs1fXJnOjPKmyON6mig=', N'tam', NULL, CAST(N'2024-06-17T02:09:38.030' AS DateTime), N'6ab597c9-f578-44c5-b539-1fc969bc9d37', NULL, N'00000000-0000-0000-0000-000000000000', 1)
GO
ALTER TABLE [dbo].[BoardMember]  WITH CHECK ADD  CONSTRAINT [FK_BoardMember_Board] FOREIGN KEY([BoardId])
REFERENCES [dbo].[Board] ([Id])
GO
ALTER TABLE [dbo].[BoardMember] CHECK CONSTRAINT [FK_BoardMember_Board]
GO
ALTER TABLE [dbo].[BoardMember]  WITH CHECK ADD  CONSTRAINT [FK_BoardMember_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[BoardMember] CHECK CONSTRAINT [FK_BoardMember_Role]
GO
ALTER TABLE [dbo].[BoardMember]  WITH CHECK ADD  CONSTRAINT [FK_BoardMember_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[BoardMember] CHECK CONSTRAINT [FK_BoardMember_User]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_List] FOREIGN KEY([ListId])
REFERENCES [dbo].[List] ([Id])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_List]
GO
ALTER TABLE [dbo].[CardActivity]  WITH CHECK ADD  CONSTRAINT [FK_CardActivity_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([Id])
GO
ALTER TABLE [dbo].[CardActivity] CHECK CONSTRAINT [FK_CardActivity_Card]
GO
ALTER TABLE [dbo].[CardActivity]  WITH CHECK ADD  CONSTRAINT [FK_CardActivity_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CardActivity] CHECK CONSTRAINT [FK_CardActivity_User]
GO
ALTER TABLE [dbo].[CardLabel]  WITH CHECK ADD  CONSTRAINT [FK_CardLabel_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([Id])
GO
ALTER TABLE [dbo].[CardLabel] CHECK CONSTRAINT [FK_CardLabel_Card]
GO
ALTER TABLE [dbo].[CardLabel]  WITH CHECK ADD  CONSTRAINT [FK_CardLabel_Label] FOREIGN KEY([LabelId])
REFERENCES [dbo].[Label] ([Id])
GO
ALTER TABLE [dbo].[CardLabel] CHECK CONSTRAINT [FK_CardLabel_Label]
GO
ALTER TABLE [dbo].[CardMember]  WITH CHECK ADD  CONSTRAINT [FK_CardMember_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([Id])
GO
ALTER TABLE [dbo].[CardMember] CHECK CONSTRAINT [FK_CardMember_Card]
GO
ALTER TABLE [dbo].[CardMember]  WITH CHECK ADD  CONSTRAINT [FK_CardMember_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CardMember] CHECK CONSTRAINT [FK_CardMember_User]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Card]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Label]  WITH CHECK ADD  CONSTRAINT [FK_Label_Board] FOREIGN KEY([BoardId])
REFERENCES [dbo].[Board] ([Id])
GO
ALTER TABLE [dbo].[Label] CHECK CONSTRAINT [FK_Label_Board]
GO
ALTER TABLE [dbo].[List]  WITH CHECK ADD  CONSTRAINT [FK_List_Board] FOREIGN KEY([BoardId])
REFERENCES [dbo].[Board] ([Id])
GO
ALTER TABLE [dbo].[List] CHECK CONSTRAINT [FK_List_Board]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_ToDo] FOREIGN KEY([TodoId])
REFERENCES [dbo].[ToDo] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_ToDo]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_User] FOREIGN KEY([AssignedUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_User]
GO
ALTER TABLE [dbo].[ToDo]  WITH CHECK ADD  CONSTRAINT [FK_ToDo_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([Id])
GO
ALTER TABLE [dbo].[ToDo] CHECK CONSTRAINT [FK_ToDo_Card]
GO
USE [master]
GO
